<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/head :: head">
</head>
<body>
<h1>All your current expenses to date:  </h1>
<form th:action="@{/filterallexpensesbyname}" th:object="${namefilter}" th:method="post">
    <p>Filter by name: </p>
    <p><input type="text" th:field="*{formValueOne}"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<table class="table">
    <thead>
    <tr>
        <th th:text="Name" onclick="window.location='/sortallexpensesbyname'"></th>
        <th th:text="Description" onclick="window.location='/sortallexpensesbydescription'"></th>
        <th th:text="Amount" onclick="window.location='/sortallexpensesbyamount'"></th>
        <th th:text="DateOfExpense" onclick="window.location='/sortallexpensesbydateofexpense'"></th>
        <th th:text="Category" onclick="window.location='/sortallexpensesbycategory'"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense: ${allExpenses}">
        <td th:text="${expense.name}"></td>
        <td th:text="${expense.description}"></td>
        <td th:text="${expense.amount}"></td>
        <td th:text="${expense.dateOfExpense}"></td>
        <td th:text="${expense.getCategory().name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>