<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/head :: head">
</head>
<body>
    <h1>Expense details</h1>
    <h2>Please select a category</h2>
    <form action="/expensedetails" th:action="@{/expensedetails}" th:object="${category}" method="post">
        <p>Category:
            <select th:field="*{id}">
                <div>
                    <option selected disabled>Please select an option</option>
                    <th:block th:each="category: ${allCategories}">
                        <option th:text="${category.getName()}" th:value="${category.getId()}"></option>
                    </th:block>
                </div>
            </select>
        </p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
    <div th:if="${expensesForThisCategory != null}">
        <h2>Total expenses for this category:</h2>
        <p th:text="${totalAmountOfExpensesForCategory}"></p>
        <h2>Total expenses for this category this month:</h2>
        <p th:text="${totalAmountOfExpensesForCategoryThisMonth}"></p>
        <table class="table" >
            <thead>
            <tr>
                <th th:text="Name" onclick="window.location='/sortallexpensesbyname'"></th>
                <th th:text="Description" onclick="window.location='/sortallexpensesbydescription'"></th>
                <th th:text="Amount" onclick="window.location='/sortallexpensesbyamount'"></th>
                <th th:text="DateOfExpense" onclick="window.location='/sortallexpensesbydateofexpense'"></th>
                <th th:text="Category" onclick="window.location='/sortallexpensesbycategory'"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense: ${expensesForThisCategory}">
                <td th:text="${expense.name}"></td>
                <td th:text="${expense.description}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.dateOfExpense}"></td>
                <td th:text="${expense.getCategory().name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>