<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/head :: head">
</head>
<body>
    <h1>Welcome to the homepage</h1>
    <button type="button" class="btn btn-success whitetext"><a th:href="@{/newexpense}">Have a new expense?</a></button>
    <button type="button" class="btn btn-success whitetext"><a th:href="@{/newcategory}">Want to add a new category?</a></button>
    <br>
    <br>
    <button type="button" class="btn btn-info whitetext"><a th:href="@{/allexpenses}">All your expenses to date</a></button>
    <br>
    <br>
    <button type="button" class="btn btn-warning whitetext"><a th:href="@{/monthlyexpenses}">This months expenses</a></button>
    <button type="button" class="btn btn-warning whitetext"><a th:href="@{/expensedetails}">Expenses deep dive</a></button>
</body>
</html>