<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/head :: head">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th th:text="Name"></th>
        <th th:text="Description"></th>
        <th th:text="Amount"></th>
        <th th:text="DateOfExpense"></th>
        <th th:text="Category"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense: ${monthlyexpenses}">
        <td th:text="${expense.name}"></td>
        <td th:text="${expense.description}"></td>
        <td th:text="${expense.amount}"></td>
        <td th:text="${expense.dateOfExpense}"></td>
        <td th:text="${expense.getCategory().name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>