<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragment/head :: head">
</head>
<body>
<h1>So you have a new expense eh?</h1>
<form action="/newexpense" th:action="@{/newexpense}" th:object="${expense}" method="post">
    <p>Expense Name: <input type="text" th:field="*{name}" name="expenseName"/></p>
    <p>Description of Expense: <input type="text" th:field="*{description}"/></p>
    <p>Category:
            <select th:object="${formValue}" name="categoryId" th:field="*{formValueOne}">
                <option selected disabled value="">Please select an option</option>
                <option th:each="category: ${allCategories}" th:text="${category.getName()}" th:value="${category.getId()}" value=""></option>
            </select>
    </p>
    <p>Amount: <input type="text" th:field="*{amount}"/></p>
    <p>Date of purchase: <input type="date" th:field="*{dateOfExpense}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>